@inherits CheckoutBase


<h3 class="mb-5">Checkout</h3>
<div class="row">
    <h4 class="mb-2">Payment Method</h4>
    <div id="smart-button-container">
        <input type="hidden" name="descriptionInput" id="description" @bind="PaymentDescription" />
        <input name="amountInput" type="hidden" id="amount" @bind="PaymentAmount">
        <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
    </div>
</div>

@code {

}
