a {
    text-decoration: none;
}

a:hover .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.3s ease-in-out;
}

.card {
    transition: box-shadow 0.3s ease-in-out;
}

a:hover img {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

img {
    transition: 0.5s ease-in-out;
}

.out-of-stock {
    
}

.out-of-stock .card {
position: relative;
}

.out-of-stock .card::after {
    content: "Out of Stock";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}


.translucent {
    opacity: 0.5;
    pointer-events: none; 
}

